CLICKHOUSE_USER=your_username
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_CBT_HOST=clickhouse-cbt.xatu.ethpandaops.io
ETHNODEOPS_API_KEY=your_api_key
ETHNODEOPS_RPC=https://erigon.mainnet.rpc.ethnodeops.xyz
